body{
    font-family: Arial;
    background: linear-gradient(135deg,#5e652f,#71e8fa);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding:30px;
    border-radius:15px;
    width:350px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
    color:white;
}

.input-section{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input{
    flex:1;
    padding:10px;
    border:none;
    border-radius:8px;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    background:#00ffcc;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:white;
    padding:10px;
    margin-bottom:10px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    animation:fadeIn 0.3s ease;
}

.delete{
    background:red;
    color:white;
    border:none;
    padding:5px 8px;
    border-radius:5px;
    cursor:pointer;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}